$primary: #015495;
$secondary: #f58224;
// $secondary: #468b97;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-900 !default;

$primary-light: #2581c9;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

*,
h1,
h2,
h3,
h4,
h5,
p,
a,
input,
label {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
  font-family: "Poppins", sans-serif !important;
  font-size: 1rem;
  color: #383b41;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
a {
  text-decoration: none;
}

th {
  font-weight: 500;
}

thead {
  th {
    background-color: rgb(249 250 251) !important;
  }
}

img,
button,
a {
  cursor: pointer;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

html,
body {
  background-color: #fafafb;
}

td,
th {
  font-family: "Poppins", sans-serif;
}

.m-175 {
  min-width: 175px;
}

.m-225 {
  min-width: 175px;
}

label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.25rem;

  & span::before {
    content: "*";
    font-size: 0.8rem;
    color: red;
    margin: 0 0.25rem;
  }
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}

table {
  margin: 0 !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p.error {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #dc3545;
  text-align: center;
}

.page-header {
  margin: 1.25rem auto;

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
  }
  p {
    font-size: 0.9rem;
    margin-top: 0.25rem;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-main-container {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.breadcrumb-container {
  p {
    font-weight: 300;
    display: inline;
  }
  a {
    font-weight: 500;
    display: inline;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
main {
  // min-height: calc(100vh - 11rem);
}

// loader core component
.full-page-loader {
  width: 100%;
  height: 100%;
  background: #ffffff52;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    margin-top: 1rem;
  }

  @keyframes ldio-ndvy05pkd1b {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .ldio-ndvy05pkd1b div {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 5px solid $primary;
    border-top-color: transparent;
    border-radius: 50%;
  }

  .ldio-ndvy05pkd1b div {
    animation: ldio-ndvy05pkd1b 1s linear infinite;
    top: 100px;
    left: 100px;
  }

  .loadingio-spinner-rolling-wiv0nnj0cz {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
  }

  .ldio-ndvy05pkd1b {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
  }

  .ldio-ndvy05pkd1b div {
    box-sizing: content-box;
  }
}
// loader core component end here

.info {
  color: rgb(53, 53, 53);
  font-size: 0.9rem;
  margin-top: 0.25rem;

  a {
    color: rgb(53, 53, 53);
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: underline;
  }
}
