.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
  mix-blend-mode: darken;
  margin-top: 1rem;
}
.branding {
  background-color: #fafafb;
}


.gapinbutton{
  margin-left: 10px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 12%;
}
.heading {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
