.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
  mix-blend-mode: darken;
  margin-top: 1rem;
}
.branding {
  background-color: #fafafb;
}


.gapinbutton{
  margin-left: 10px;
}